In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [6]:
df=pd.read_csv('data/data.csv')
df

    1.2   2.0
0  2.03  1.80
1  3.00  2.50
2  4.20  3.12
3  5.01  5.10
4  6.03  4.87

In [7]:
X=df.iloc[0:len(df),0]
Y=df.iloc[0:len(df),1]

In [16]:
#Calclul des derivees partielles 
def calul_derivees_partielles(theta0,theta1):
    d_theta0=0.0
    d_theta1=0.0
    for i in range(len(X)):
        d_theta0+=theta1*X[i]+theta0-Y[i]
        d_theta1+=(theta1*X[i]+theta1-Y[i])*X[i]
    d_theta0=1/len(X)*d_theta0
    d_theta1=1/len(X)*d_theta1
    return [d_theta0,d_theta1]

In [17]:
 #mise a jour 
def mis_a_jour_theta(theta0,theta1):
        
        d_theta0,d_theta1=calul_derivees_partielles(theta0,theta1)
        n_theta0=theta0-alpha*d_theta0
        n_theta1=theta1-alpha*d_theta1
        return n_theta0,n_theta1

In [18]:
#fonction de desente de gradient
alpha=0.01
nbr_iter=2500
def descente_gradient():
    theta0=0.0
    theta1=0.0
    for i in range(nbr_iter):
        n_theta0,n_theta1=mis_a_jour_theta(theta0,theta1)
        theta0=n_theta0
        theta1=n_theta1
    return theta0,theta1
theta0,theta1=descente_gradient() 
print(theta0,theta1)

0.6246758459882212 0.7038293423793178